<div class="container-fluid">
	<h1>People Finder</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Search</h3>
		</div>
		<div class="panel-body">
			<form name="personSearch">
				<div class="form-group col-sm-6">
					<label for="search" class="control-label">Search:</label> <input
						type="text" class="form-control" ng-model="searchKeyword" />
				</div>
			</form>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</a></th>
				<th>Parish</th>
				<th>Language</th>
				<th>Phone Number</th>
				<th>Email</th>
				<th><a href="#!/newperson">+ Person</a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="p in persons._embedded.persons | filter: searchKeyword ">
				<td><a ng-click="modifyPerson(p._links.self.href)">{{p.title}}
						{{ p.firstName }} {{p.lastName}}</a>
				<td>{{p.parish}}</td>
				<td>{{p.language}}</td>
				<td>h:{{p.homePhoneNumber}}, c:{{p.cellPhoneNumber}},
					w:{{workPhoneNumber}}</td>
				<td>{{p.email}}</td>
				<td><a ng-click="deletePerson(p._links.self.href)" class="btn btn-small btn-primary">delete</a></td>

			</tr>
		</tbody>
	</table>
	<!-- Pager -->
	<div class="text-center">
		<ul ng-if="pager.totalPages" class="pagination">
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="setPage(1)">First</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
		    </li>
		    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
		        <a ng-click="setPage(page)">{{page}}</a>
		    </li>                
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="setPage(pager.currentPage + 1)">Next</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="setPage(pager.totalPages)">Last</a>
		    </li>
		</ul>
	</div>
	
</div>