<div class="container-fluid">
	<h1>Table Finder</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Search</h3>
		</div>
		<div class="panel-body">
			<form name="tableSearch">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="search" class="control-label">Search:</label> 
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<input type="text" class="form-control" ng-model="searchValue" dl-enter-key="getTablesOfEvent(selectedEvent, 1)"/>
					</div>
					<div class="form-group col-sm-6">
						<a ng-click="getTablesOfEvent(selectedEvent, 1)" class="btn btn-small btn-primary">Search</a>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<form name="tableFilter">
				<div class="form-group col-sm-4">
					<label for="search" class="control-label">Filter:</label> <input
						type="text" class="form-control" ng-model="searchKeyword" />
				</div>
			</form>
		</div>
	</div>
	
	<div ng-show="showAlert" class="alert alert-{{alertKind}} alert-dismissible fade in">
		<a ng-click="showAlert=false" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<form name="filterByEvent">
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="event" class="control-label">Event:</label>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-2" ng-repeat="e in events">
						<a ng-click="getTablesOfEvent(e, 1)" class="btn btn-small btn-primary">{{e.name}} {{e.year}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<h1 class="text-center" ng-show="eventSelected">{{selectedEvent.name}} {{selectedEvent.year}}</h1>
	
	<table class="table table-striped" ng-show="eventSelected">
		<thead>
			<tr>
				<th>Table Number</a></th>
				<th>Name</th>
				<th>Event</th>
				<th># of Tickets in Table</th>
				<th># of People in Table</th>
				<th>year</th>
				<th><a href="#!/newsittingTable">+ Table</a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="t in tables | filter: searchKeyword ">
				<td><a ng-click="modifyTable(t._links.self.href)">{{t.number}}</a>
				<td>{{t.name}}</td>
				<td>{{t.event}}</td>
				<td>{{t.peopleInTable}}/{{t.peoplePerTable}}</td>
				<td>{{t.peopleAtTable}}/{{t.peopleInTable}}</td>
				<td>{{t.year}}</td>
				<td><a ng-click="deleteTable(t._links.self.href)" class="btn btn-small btn-primary">delete</a></td>
			</tr>
		</tbody>
	</table>
	<!-- Pager -->
	<div class="text-center">
		<ul ng-if="pager.totalPages" class="pagination">
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="getTablesOfEvent(selectedEvent, 1)">First</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="getTablesOfEvent(selectedEvent, pager.currentPage - 1)">Previous</a>
		    </li>
		    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
		        <a ng-click="getTablesOfEvent(selectedEvent, page)">{{page}}</a>
		    </li>                
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="getTablesOfEvent(selectedEvent, pager.currentPage + 1)">Next</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="getTablesOfEvent(selectedEvent, pager.totalPages)">Last</a>
		    </li>
		</ul>
	</div>
</div>