<div class="container-fluid">
	<h1 ng-hide="newTableView">Table Number: {{sittingTableNumber}}</h1>
	<div class="panel panel-default">
		<div class='well'>
			<h2 ng-show="newTableView">New Table</h2>
			<form name="tableForm">
				<div class='col-sm-14'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Number</a></th>
								<th>Name</th>
								<th>People per Table</th>
								<th ng-hide="newTableView">People in Table</th>
								<th>year</th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" ng-form="newTableForm">
								<ng-form name="newTableForm">
									<td><input type="text" id="number" class='form-control' ng-model="sittingTable.number"/></td>
									<td><input type="text" id="name" class='form-control' ng-model="sittingTable.name"/></td>
									<td><input type="text" id="peoplePerTable" class='form-control' ng-model="sittingTable.peoplePerTable"/></td>
									<td ng-hide="newTableView"><input type="text" id="peopleInTable" class='form-control' ng-model="sittingTable.peopleInTable" ng-disabled="true"/></td>
									<td><input type="text" id="year" class='form-control' ng-model="sittingTable.year"/></td>
								</ng-form>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
		
		<div class='well'>
			<div class="row">
				<div class="col-sm-6">
					<h2>Event</h2>
				</div>
			</div>
			<form name="eventForm">
				<div class='col-sm-14'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th class='col-sm-3'>Name</th>
								<th><a ng-hide="addEventElem || (event.name != '')" ng-click="setPaginatedEvents(1)">+ Event</a></th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" ng-form="eventForm">
								<td><input ng-hide="event.name == ''" type="text" id="event" class='form-control' ng-model="event.nameToShow" placeholder="Event" ng-disabled="true"/></td>
								<td><a ng-hide="event.name == ''" ng-click="unlinkEvent()" class="btn btn-small btn-primary">unlink</a></td>
								<td></td>
								<td></td>
								
							</tr>
							<tr ng-show="addEventElem" ng-repeat="e in events">
								<td><a ng-click="selectEvent(e[0])">{{e[0].name}} {{e[0].year}}</a></td>
								<td><a ng-click="selectEvent(e[1])">{{e[1].name}} {{e[1].year}}</a></td>
								<td><a ng-click="selectEvent(e[2])">{{e[2].name}} {{e[2].year}}</a></td>
								<td><a ng-click="selectEvent(e[3])">{{e[3].name}} {{e[3].year}}</a></td>
							</tr>
						</tbody>
					</table>
					<div class="text-center" ng-show="addEventElem">
						<ul ng-if="eventPager.totalPages" class="pagination">
						    <li ng-class="{disabled:eventPager.currentPage === 1}">
						        <a ng-click="setPaginatedEvents(1)">First</a>
						    </li>
						    <li ng-class="{disabled:eventPager.currentPage === 1}">
						        <a ng-click="setPaginatedEvents(eventPager.currentPage - 1)">Previous</a>
						    </li>
						    <li ng-repeat="page in eventPager.pages" ng-class="{active:eventPager.currentPage === page}">
						        <a ng-click="setPaginatedEvents(page)">{{page}}</a>
						    </li>                
						    <li ng-class="{disabled:eventPager.currentPage === eventPager.totalPages}">
						        <a ng-click="setPaginatedEvents(eventPager.currentPage + 1)">Next</a>
						    </li>
						    <li ng-class="{disabled:eventPager.currentPage === eventPager.totalPages}">
						        <a ng-click="setPaginatedEvents(eventPager.totalPages)">Last</a>
						    </li>
						</ul>
					</div>
					
				</div>
			</form>
			<div  ng-show="newTableView" class='text-right'>
				<a ng-click="cancel()" class="btn btn-small">cancel</a>
				<a ng-click="addTable()" class="btn btn-small btn-primary">Add</a>
			</div>
		</div>
		
		<div ng-hide="newTableView" class='well'>
			<h2 ng-hide="newTableView">Linked Tickets</h2>
			<form ng-hide="newTableView" name="linkedTicketsForm">
				<div class='col-sm-14'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Ticket Number</th>
								<th>Info</th>
								<th>Bought By</th>
								<th>Paid</th>
								<th>From of Payment</th>
								<th>At event</th>
								<th><a ng-hide="addTicketElem" ng-click="setPaginatedTickets()">+ Ticket</a></th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" ng-form="linkedTicketsForm" ng-repeat="t in tickets">
								<ng-form name="linkedTicketsForm">
									<td>{{t.ticketNumber}}</td>
									<td>{{t.info}}</td>
									<td>{{t.buyer}}</td>
									<td><input type="checkbox" id="paid" class='form-group' ng-model="t.paid" ng-disabled="true"/></td>
									<td>{{t.formOfPayment}}</td>
									<td><input type="checkbox" id="atEvent" class='form-group' ng-model="t.atEvent" ng-disabled="true"/></td>
									<td><a ng-click="unlinkTicket(t._links.self.href)" class="btn btn-small btn-primary">unlink</a></td>
								</ng-form>
							</tr>
							<tr class="form-group" ng-form="linkingTicketsForm" ng-repeat="lt in linkingTickets">
								<ng-form name="linkingTicketsForm">
									<td>{{lt.ticketNumber}}</td>
									<td>{{lt.info}}</td>
									<td>{{lt.buyer}}</td>
									<td><input type="checkbox" id="paid" class='form-group' ng-model="lt.paid" ng-disabled="true"/></td>
									<td>{{lt.formOfPayment}}</td>
									<td><input type="checkbox" id="atEvent" class='form-group' ng-model="lt.atEvent" ng-disabled="true"/></td>
									<td></td>
								</ng-form>
							</tr>
						</tbody>
					</table>
					<div ng-show="addTicketElem" class="row">
						<div class="form-group col-sm-6">
							<label for="search" class="control-label">Search:</label> 
						</div>
					</div>
					<div ng-show="addTicketElem" class="row">
						<div class="form-group col-sm-4">
							<input type="text" class="form-control" ng-model="searchValue" placeholder="Insert number" dl-enter-key="setPaginatedTickets(1)"/>
						</div>
						<div class="form-group col-sm-6">
							<a ng-click="setPaginatedTickets(1)" class="btn btn-small btn-primary">Search</a>
						</div>
					</div>
					<table ng-show="addTicketElem" class="table table-striped">
						<tr ng-repeat="t in addingTickets">
							<td><a ng-click="selectTicket(t[0])">{{t[0].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[1])">{{t[1].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[2])">{{t[2].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[3])">{{t[3].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[4])">{{t[4].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[5])">{{t[5].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[6])">{{t[6].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[7])">{{t[7].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[8])">{{t[8].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[9])">{{t[9].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[10])">{{t[10].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[11])">{{t[11].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[12])">{{t[12].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[13])">{{t[13].ticketNumber}}</a></td>
							<td><a ng-click="selectTicket(t[14])">{{t[14].ticketNumber}}</a></td>
						</tr>
					</table>
					<div class="text-center" ng-show="addTicketElem">
						<ul ng-if="ticketPager.totalPages" class="pagination">
						    <li ng-class="{disabled:ticketPager.currentPage === 1}">
						        <a ng-click="setPaginatedTickets(1)">First</a>
						    </li>
						    <li ng-class="{disabled:ticketPager.currentPage === 1}">
						        <a ng-click="setPaginatedTickets(ticketPager.currentPage - 1)">Previous</a>
						    </li>
						    <li ng-repeat="page in ticketPager.pages" ng-class="{active:ticketPager.currentPage === page}">
						        <a ng-click="setPaginatedTickets(page)">{{page}}</a>
						    </li>                
						    <li ng-class="{disabled:ticketPager.currentPage === ticketPager.totalPages}">
						        <a ng-click="setPaginatedTickets(ticketPager.currentPage + 1)">Next</a>
						    </li>
						    <li ng-class="{disabled:ticketPager.currentPage === ticketPager.totalPages}">
						        <a ng-click="setPaginatedTickets(ticketPager.totalPages)">Last</a>
						    </li>
						</ul>
					</div>
				</div>
			</form>
			<div  ng-hide="newTableView" class='text-right'>
				<a ng-click="cancel()" class="btn btn-small">cancel</a>
				<a ng-click="updateTable()" class="btn btn-small btn-primary">Update</a>
			</div>
		</div>
	</div>
</div>