<div class="container-fluid">
	<h1>Tickets Finder</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Search</h3>
		</div>
		<div class="panel-body">
			<form name="ticketSearch">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="search" class="control-label">Search:</label> 
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<input type="text" class="form-control" ng-model="searchValue"  dl-enter-key="getTicketsOfEvent(selectedEvent, 1)"/>
					</div>
					<div class="form-group col-sm-6">
						<a ng-click="getTicketsOfEvent(1)" class="btn btn-small btn-primary">Search</a>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<form name="ticketFilter">
				<div class="form-group col-sm-4">
					<label for="search" class="control-label">Filter:</label> <input
						type="text" class="form-control" ng-model="searchKeyword" />
				</div>
			</form>
		</div>
	</div>
	<div ng-show="showAlert" class="alert alert-{{alertKind}} alert-dismissible fade in">
		<a ng-click="showAlert=false" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<form name="filterByEvent">
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="event" class="control-label">Event:</label>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-2" ng-repeat="e in events">
						<a ng-click="getTicketsOfEvent(e, 1)" class="btn btn-small btn-primary">{{e.name}} {{e.year}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<h1 class="text-center" ng-show="eventSelected">{{selectedEvent.name}} {{selectedEvent.year}}</h1>
	<table class="table table-striped" ng-show="eventSelected">
		<thead>
			<tr>
				<th>Ticket Number</th>
				<th>Info</th>
				<th>Bought By</th>
				<th>Event</th>
				<th>Table</th>
				<th>Paid</th>
				<th>From of Payment</th>
				<th>Is At Event</th>
				<th><a href="#!/newticket">+ Ticket</a></th>
			</tr>
		</thead>
		<tbody ng-init="selectOptions = [{option : 'Cash'}, {option : 'Check'}, {option : 'Free'}]">
			<tr
				ng-repeat="t in tickets | filter: searchKeyword ">
				<td><a ng-click="modifyTicket(t._links.self.href)">{{t.ticketNumber}}</a></td>
				<td>{{t.info}}</td>
				<td>{{t.buyer}}</td>
				<td>{{t.event}}</td>
				<td>{{t.number}}</td>
				<td><input type="checkbox" id="paid" class='form-group' ng-model="t.paid" ng-change="updateValue('paid', t.paid, t._links.self.href, t.ticketNumber)"/></td>
				<td>
					<select ng-model="t.formOfPayment" class='form-control' ng-change="updateValue('formOfPayment', t.formOfPayment, t._links.self.href, t.ticketNumber)">
						<option ng-repeat="option in selectOptions" value="{{option.option}}">{{option.option}}</option>
					</select>
				</td>
				<td><input type="checkbox" id="atEvent" class='form-group' ng-change="updateValue('atEvent', t.atEvent, t._links.self.href, t.ticketNumber)" ng-model="t.atEvent"/></td>
				<td><a ng-click="deleteTicket(t._links.self.href)" class="btn btn-small btn-primary">delete</a></td>

			</tr>
		</tbody>
	</table>
	<!-- Pager -->
	<div class="text-center">
		<ul ng-if="pager.totalPages" class="pagination">
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="getTicketsOfEvent(selectedEvent, 1)">First</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="getTicketsOfEvent(selectedEvent, pager.currentPage - 1)">Previous</a>
		    </li>
		    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
		        <a ng-click="getTicketsOfEvent(selectedEvent, page)">{{page}}</a>
		    </li>                
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="getTicketsOfEvent(selectedEvent, pager.currentPage + 1)">Next</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="getTicketsOfEvent(selectedEvent, pager.totalPages)">Last</a>
		    </li>
		</ul>
	</div>
	
</div>