<div class="container-fluid">
	<h1 ng-hide="newTicketView">{{ticket.number}}</h1>
	<div class="panel panel-default">
		<div class='well'>
			<h2>New Tickets</h2>
			<form name="ticketForm">
				<div class='col-sm-14'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Number</a></th>
								<th>Sold By</th>
								<th>Paid</th>
								<th>Form of Payment</th>
								<th>Year</th>
								<th><a ng-hide="addTicketElem" ng-click="getTickets()">+ Ticket</a></th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" ng-form="newTicketForm" ng-repeat="nt in newTickets">
								<ng-form name="newTicketForm">
									<td><input type="text" id="ticketNumber" class='form-control' ng-model="nt.ticketNumber" /></td>
									<td><input type="text" id="soldBy" class='form-control' ng-model="nt.soldBy" /></td>
									<td><input type="checkbox" id="paid" class='form-control' ng-model="nt.paid" /></td>
									<td><input type="text" id="formOfPayment" class='form-control' ng-model="nt.formOfPayment" ng-disabled="!nt.paid"/></td>
									<td><input type="text" id="year" class='form-control' ng-model="nt.year" /></td>
									<td><a ng-click="updateTicket(nt, $index)" class="btn btn-small btn-primary">update</a></td>
									<td><a ng-click="deleteTicket($index)" class="btn btn-small btn-primary">delete</a></td>
								</ng-form>
							</tr>
							<tr ng-show="addTicketElem">
								<th><input type="text" class='form-control' ng-model="newTicket.ticketNumber"/></th>
								<th><input type="text" class='form-control' ng-model="newTicket.soldBy"/></th>
								<td><input type="checkbox" class='form-control' ng-model="newTicket.paid" /></td>
									<td><input type="text" class='form-control' ng-model="newTicket.formOfPayment" ng-disabled="!newTicket.paid"/></td>
								<th><input type="text" class='form-control' ng-model="newTicket.year"/></th>
								<th><a ng-click="addTicket()" class="btn btn-small btn-primary">add</a></th>
								<th><a ng-click="addTicketElem=false" class="btn btn-small btn-primary">cancel</a></th>
							</tr>
							<tr ng-show="addTicketElem" ng-repeat="t in tickets._embedded.tickets | filter: newTicket.ticketNumber">
								<td>{{t.ticketNumber}}</td>
								<td>{{t.soldBy}}</td>
								<td><input type="checkbox" ng-model="t.paid" ng-disabled="true"/></td>
								<td>{{t.formOfPayment}}</td>
								<td>{{t.year}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
		<div class='well'>
			<div class="row">
				<div class="col-sm-6">
					<h2>Sitting Table</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<b>Number</b>
				</div>
				<div class="col-sm-4">
					<a ng-hide="addSittingTableElem" ng-click="addSittingTableElem = true"><b>+ Sitting Table</b></a>
				</div>
			</div>
			<form ng-show="addSittingTableElem" name="ticketForm" novalidate>
				<div class='row'>
					<div class='col-sm-2'>
						<div class='form-group'>
							<input type="text" id="sittingTable" class='form-control' 
							ng-model="sittingTable.sittingTableNumber" placeholder="Table" 
							name="tSittingTable" required="" />
						</div>
					</div>
					<div class='col-sm-2'>
						<div class='form-group'>
							<a ng-hide="tableAdded" ng-click="addSittingTable()" class="btn btn-small btn-primary">add</a>
							<a ng-show="tableAdded" ng-click="deleteSittingTable()" class="btn btn-small btn-primary">delete</a>
						</div>
					</div>
				</div>
				<span ng-show="ticketForm.tSittingTable.$error.required">Please insert table number</span>
			</form>
		</div>
		
		<div class='well'>
			<h2>Bought By</h2>
			<form name="boughtByForm">
				<div class='row'>
					<div class='col-sm-2'>
						<div class='form-group'>
							<label><input type="radio" id="person" ng-model="addPersonElem" value="false" ng-click="getPersons()"/> Person</label>
						</div>
					</div>
					<div class='col-sm-2'>
						<div class='form-group'>
							<label><input type="radio" id="organization" ng-model="addOrganizationElem" value="false" ng-click="getOrganizations()"/> Organization</label>
						</div>
					</div>
				</div>
				<div class='col-sm-14'>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" ng-form="BoughtByForm">
								<td><input type="text" id="Name" class='form-control' ng-model="buyer.name" /></td>
								<td></td>
								<td><a ng-click="deleteBuyer()" class="btn btn-small btn-primary">delete</a></td>
							</tr>
							<tr ng-show="addBuyerElem" ng-repeat="b in buyers | filter: buyer.name">
								<td ng-show="addPersonElem"><a ng-click="setBuyer(b[0])">{{b[0].firstName}} {{b[0].lastName}}</a></td>
								<td ng-show="addPersonElem"><a ng-click="setBuyer(b[1])">{{b[1].firstName}} {{b[1].lastName}}</a></td>
								<td ng-show="addPersonElem"><a ng-click="setBuyer(b[2])">{{b[2].firstName}} {{b[2].lastName}}</a></td>
								<td ng-show="addOrganizationElem"><a ng-click="setBuyer(b[0])">{{b[0].name}}</a></td>
								<td ng-show="addOrganizationElem"><a ng-click="setBuyer(b[1])">{{b[1].name}}</a></td>
								<td ng-show="addOrganizationElem"><a ng-click="setBuyer(b[2])">{{b[2].name}}</a></td>
							</tr>
						</tbody>
					</table>
					<div class="text-center" ng-show="addBuyerElem">
						<ul ng-if="pager.totalPages" class="pagination">
						    <li ng-class="{disabled:pager.currentPage === 1}">
						        <a ng-click="setPage(1)">First</a>
						    </li>
						    <li ng-class="{disabled:pager.currentPage === 1}">
						        <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
						    </li>
						    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
						        <a ng-click="setPage(page)">{{page}}</a>
						    </li>                
						    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
						        <a ng-click="setPage(pager.currentPage + 1)">Next</a>
						    </li>
						    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
						        <a ng-click="setPage(pager.totalPages)">Last</a>
						    </li>
						</ul>
					</div>
				</div>
			</form>
			<div ng-show="newTicketView" class='text-right'>
				<a ng-click="cancel()" class="btn btn-small">cancel</a>
				<a ng-click="addTickets()" class="btn btn-small btn-primary">Add</a>
			</div>
		</div>
	</div>

        
<!-- 	private List<Donation> donations; -->
<!-- 	private List<Ticket> tickets; -->

</div>