<div class="container-fluid">
	<h1>Tickets Finder</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Search</h3>
		</div>
		<div class="panel-body">
			<form name="ticketSearch">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="search" class="control-label">Search:</label> 
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<input type="text" class="form-control" ng-model="searchValue" />
					</div>
					<div class="form-group col-sm-6">
						<a ng-click="setPage(1)" class="btn btn-small btn-primary">Search</a>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<form name="ticketFilter">
				<div class="form-group col-sm-4">
					<label for="search" class="control-label">Filter:</label> <input
						type="text" class="form-control" ng-model="searchKeyword" />
				</div>
			</form>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Ticket Number</a></th>
				<th>Bought By</th>
				<th>Event</th>
				<th>Table</th>
				<th>Paid</th>
				<th>Is At Event</th>
				<th>From of Payment</th>
				<th><a href="#!/newticket">+ Ticket</a></th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="t in tickets | filter: searchKeyword ">
				<td><a ng-click="modifyTicket(t._links.self.href)">{{t.ticketNumber}}</a>
				<td>{{t.buyer}}</td>
				<td>{{t.event}}</td>
				<td>{{t.number}}</td>
				<td><input type="checkbox" id="paid" class='form-group' ng-model="t.paid" ng-disabled="true"/></td>
				<td><input type="checkbox" id="atEvent" class='form-group' ng-model="t.atEvent" ng-disabled="true"/></td>
				<td>{{t.formOfPayment}}</td>
				<td><a ng-click="deleteTicket(t._links.self.href)" class="btn btn-small btn-primary">delete</a></td>

			</tr>
		</tbody>
	</table>
	<!-- Pager -->
	<div class="text-center">
		<ul ng-if="pager.totalPages" class="pagination">
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="setPage(1)">First</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === 1}">
		        <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
		    </li>
		    <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
		        <a ng-click="setPage(page)">{{page}}</a>
		    </li>                
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="setPage(pager.currentPage + 1)">Next</a>
		    </li>
		    <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
		        <a ng-click="setPage(pager.totalPages)">Last</a>
		    </li>
		</ul>
	</div>
	
</div>