<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>RMMS Toronto</title>
		
		<!--Review the URLs for the libraries -->
		<!-- <script src="resources/angular-route.js"></script> -->
		<script src="resources/angular.js"></script>
		
	</head>
	<body>
		<div ng-app="mainApp">
		
			
			<div ng-controller="CreatePersonController">
				<h1>Add a new person to the DB</h1>
				<form ng-submit="submit()">
					<table>
						<tr>
							<td> First Name </td>
							<td> Last Name </td>
							<td> Language </td>
						</tr>
						<tr>
							<td>
								<input type="text" ng-model="person.firstName">
							</td>
							<td>
								<input type="text" ng-model="person.lastName">
							</td>
							<!-- In the future this text box will be a select box -->
							<td>
								<select ng-model="person.language">
									<option value="spanish">Español</option>
									<option value="english">English</option>
									<option value="italian">Italiano</option>
								</select>
							</td>
						</tr>
						<tr>
							<td> Title </td>
							<td> e-mail </td>
						</tr>
						<tr>
							<td> <input type="text" ng-model="person.title"> </td>
							<td> <input type="text" ng-model="person.email"> </td>
							<td>
								<input type="checkbox" ng-model="person.married"> Married
							</td>
						</tr>
						
						<!-- Spouse information (if married) -->
						<tr ng-show="person.married"> 
							<td><h3>Spouse information</h3></td> 
						</tr>
						<tr ng-show="person.married"> 
							<td>Fist Name</td> 
							<td>Last Name</td> 
						</tr>
						<tr ng-show="person.married"> 
							<td><input type="text" ng-model="person.spouse.firstName"></td> 
							<td><input type="text" ng-model="person.spouse.lastName"></td> 
						</tr>
						
						<!-- Contact information (I do not quite understand why we need this one) -->
						<tr>
							<td><h3>Contact person</h3></td>
						</tr>
						<tr> 
							<td>Fist Name</td> 
							<td>Last Name</td> 
						</tr>
						<tr > 
							<td><input type="text" ng-model="person.contactPerson.firstName"></td> 
							<td><input type="text" ng-model="person.contact.lastName"></td> 
						</tr>
						<tr>
							<td>Cell-phone Number</td>
							<td>Home-phone Number</td>
							<td>Work-phone Number</td>
							<td>Fax-phone Number</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.contactPerson.cellPhoneNumber"></td>
							<td><input type="text" ng-model="person.contactPerson.homePhoneNumber"></td>
							<td><input type="text" ng-model="person.contactPerson.workPhoneNumber"></td>
							<td><input type="text" ng-model="person.contactPerson.faxPhoneNumber"></td>
						</tr>
						
						<!-- Address information -->
						<tr>
							<td><h3>Address info</h3></td>
						</tr>
						<tr>
							<td>Street</td>
							<td>Number</td>
							<td>City</td>
							<td>Province</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.address.street"></td>
							<td><input type="text" ng-model="person.address.number"></td>
							<td><input type="text" ng-model="person.address.city"></td>
							<td><input type="text" ng-model="person.address.province"></td>
						</tr>
						<tr>
							<td>Postal Code</td>
							<td>PO Box</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.address.postalCode"></td>
							<td><input type="text" ng-model="person.address.poBox"></td>
						</tr>
						
						<!-- Pastoral Information -->
						<tr>
							<td><h3>Pastoral info</h3></td>
						</tr>
						<tr>
							<td>Parish</td>
							<td>Community</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.parish"></td>
							<td><input type="text" ng-model="person.Community"></td>
						</tr>
						
						<!-- Organization information -->
						<tr>
							<td><h3>Organization info</h3></td>
						</tr>
						<tr>
							<td>Name</td>
							<td>Address</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.organization.name"></td>
							<!-- If the address given above is the same address of the organization -->
							<td><input type="checkbox" ng-model="person.organization.sameAddress">Same as above</td>
						</tr>
						<tr ng-hide="person.organization.sameAddress">
							<td>Street</td>
							<td>Number</td>
							<td>City</td>
							<td>Province</td>
						</tr>
						<tr ng-hide="person.organization.sameAddress">
							<td><input type="text" ng-model="person.organization.address.street"></td>
							<td><input type="text" ng-model="person.organization.address.number"></td>
							<td><input type="text" ng-model="person.organization.address.city"></td>
							<td><input type="text" ng-model="person.organization.address.province"></td>
						</tr>
						<tr ng-hide="person.organization.sameAddress">
							<td>Postal Code</td>
							<td>PO Box</td>
						</tr>
						<tr ng-hide="person.organization.sameAddress">
							<td><input type="text" ng-model="person.organization.address.postalCode"></td>
							<td><input type="text" ng-model="person.organization.address.poBox"></td>
						</tr>
						
						<!-- Benefactor status -->
						<tr>
							<td><h3>Benefactor Status</h3></td>
						</tr>
						<tr>
							<!-- In the future this text box will be a select box -->
							<td><select ng-model="person.status">
									<option value="broze">Bronze</option>
									<option value="silver">Silver</option>
									<option value="gold">Gold</option>
								</select>
							</td>
						</tr>
						<tr>
							<!-- I am not sure about what is this one -->
							<td>Info</td>
						</tr>
						<tr>
							<td><input type="text" ng-model="person.information"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td><input type="submit" value="Submit"></td>
						</tr>
					</table>
				</form>
			</div>
			
		</div>
		
		<script src="mainApp.js"></script>
		<script src="CreatePersonController.js"></script>
		
		<!-- This is the reference to the file that contains the configuration
		of the functioning of the views 
		<script src="viewsRouter.js"></script>
		<script src="ViewPersonController.js"></script>
		<script src="CreatePersonController.js"></script>
		<script src="ModifyPersonController.js"></script>
		<script src="RemovePersonController.js"></script>
		-->
	</body>
</html>